body {
	margin: 0px;
	font-family: "Lato";
	transition: linear 0.2s;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	text-align: center;
}

.header {
	font-size: 3em;
	font-weight: 700;
	text-shadow: 0px 4px 4px #bbb;
	margin-top: 50px;
}

.picture {
	margin: 20px auto;
}

.picture img {
	width: 600px;
	border-radius: 10px;
}

.infobox {
	background: #bbb;
	text-align: center;
	width: 200px;
	height: 200px;
	padding: 10px;
	border-radius: 10px;
}

#hours {
	position: absolute;
	top: 127px;
	left: 10%;
}

#location {
	position: absolute;
	top: 127px;
	right: 10%;
	height: 300px;
}

.description {
	color: white;
	margin-bottom: 10px;
}

.button {
	background: #bbb;
	color: white;
	text-align: center;
	width: 200px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 3px #aaa;
	position: relative;
	left: 40%;
}

.button:active {
	box-shadow: 0px 1px #aaa;
	transform: translate(0px, 2px);
}